{% extends "base.html" %}
{% load static %}

{% block content %}
{% spaceless %}

<div style="margin-bottom: 20px;">
    <a href="{% url 'home' %}" style="color: #4fc3f7; text-decoration: none;">
        ← На головну сторінку
    </a>
</div>

<h2>Публікації{% if category %}: {{ category }}{% endif %}</h2>
<br/>

{% for item in items %}
<div class="articles-row">
    <a href="{{ item.get_absolute_url }}">
        <h4>{{ item.title }}</h4>
    </a>
    <h5>
        {{ item.pub_date|date:"j E Y"|safe }}
    </h5>
    <p>
        {{ item.description|safe|escape|striptags|truncatewords_html:32 }}
    </p>
    {% if item.images.all %}
    <div class="container-image">
        <img class="img" src="{{ item.images.all.0.image.url }}" alt="{{ item.title }}"/>
    </div>
    {% endif %}
    <div class='clearfix'></div>
</div>
{% empty %}
<div class="articles-row">
    <p>Публікацій поки немає.</p>
</div>
{% endfor %}

{% endspaceless %}
{% endblock %}
