{% extends "base.html" %}
{% load static %}

{% block content %}
{% spaceless %}

{% if categories %}
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-categories">
        {% for item in categories %}
        <a href="{{ item.get_absolute_url }}">
            <h4>{{ item.category }}</h4>
        </a>
        {% endfor %}
    </div>
</nav>
{% endif %}

{% if articles %}
{% for item in articles %}
<div class="article-block">
    <a href="{{ item.get_absolute_url }}">
        <h4>{{ item.title }}</h4>
    </a>
    <h5>
        {{ item.pub_date|date:"j E Y" }}
    </h5>
    <p>
        {{ item.description|safe|striptags|truncatewords_html:32 }}
    </p>
</div>
{% endfor %}
{% endif %}

<div style="margin: 25px 0;">
    <a href="{% url 'articles-list' %}" class="all-articles-btn">
        Всі публікації &rarr;
    </a>
</div>

{% endspaceless %}
{% endblock %}
